*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Arial', sans-serif;
    background-image: url("/media-files/images/steve-johnson-YJGq5H9ofy0-unsplash.jpg");
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
}

/* ==== */
a {
    text-decoration: none;
    color: inherit;
}
ul {
    list-style-type: none;
}
/* ==== */

.container {
    padding: 10px 150px;
}

@media screen and (max-width: 1024px) {
    .container {
        padding: 10px 10px;
    }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    background-color: rgba(0,0,0,70%);
    backdrop-filter: blur(20px);
}

@media screen and (max-width: 640px) {
    .header {
        flex-direction: column;
    }
}

.header-logo {
    font-size: 24px;
}

.main {
    flex-grow: 1;
    background-color: rgba(0,0,0, 80%);
    backdrop-filter: blur(80px);
}

.footer {
    background-color: rgba(0,0,0, 80%);
    backdrop-filter: blur(80px);
}

/* nav menu */
.nav-menu {
    display: flex;
    gap: 50px;
}

.nav-menu__link {
    position: relative;
    color: inherit;
    text-decoration: none;
    padding: 3px 0;
    transition: all .3s linear;
}

@media screen and (max-width: 360px) {
    .nav-menu {
        flex-direction: column;
    }
}

.nav-menu__link:hover {
    color: cornflowerblue;
}

.nav-menu__link::after {
    transition: all .3s linear;
}

.nav-menu__link::after {
    content: '';
    width: 0;
    height: 3px;
    position: absolute;
    top: 100%;
    left: 0;
    background: cornflowerblue;
    border-radius: 50px;
}

.nav-menu__link:hover.nav-menu__link::after {
    width: 100%;
}

/* hero */
.hero {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin: 15px 0;
}

@media screen and (max-width: 1024px) {
    .hero {
        flex-direction: column;
    }
}

.hero__title {
    font-size: 72px;
    color: cornflowerblue;
    font-weight: 700;
}

@media screen and (max-width: 1024px) {
    .hero__title {
        font-size: 42px;
    }
}

@media screen and (max-width: 320px) {
    .hero__title {
        font-size: 24px;
    }
}

.hero-right {
    margin: 100px 0;
}

.hero-right__img {
    max-width: 100%;
    object-fit: cover;
    object-position: center;
}

/* hero left */
.hero-left {
    display: flex;
    flex-direction: column;
    gap: 60px;
    width: 600px;
}

@media screen and (max-width: 1024px) {
    .hero-left {
        width: 100%;
    }
}
.hero-trending__header-title {

}

.hero-trending__header {
    padding: 10px 0;
    border-bottom: 1px solid;
    margin-bottom: 10px;
}

/* trending card */
.hero-trending__content {
    display: flex;
}

@media screen and (max-width: 635px) {
    .hero-trending__content {
        flex-direction: column;
    }
}

.trending-card {
    flex: 0 0 33.333%;
    position: relative;
}

.trending-card__img {
    max-width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 50px;
}

.trending-card__header {
    position: relative;
    margin: 10px 0;
}

.trending-card__header-title {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 18px 0;
    margin: 4px 0;
    width: 100%;
    backdrop-filter: blur(10px);
    border-radius: 50px;
    text-align: center;
}

.trending-card__link {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    z-index: 2;
}